@import "tailwindcss";
@plugin "daisyui";



/* index.css or globals.css */

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}
