/* index.css or globals.css */

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}



/* SweetAlert2 custom pharma style */



.invoice-print {
  width: 210mm;
  min-height: 297mm;
  padding: 15mm;
  margin: auto;
  background: white;
  color: black;
}

@media print {
  body {
    margin: 0;
  }

  .invoice-print {
    width: 100%;
    padding: 10mm;
  }
}